{% extends 'base.html' %}

{% block title %} - Home{% endblock %}

{% block content %}
<div class="text-center" style="padding-top: 15%">
    <h1 class="text-center" style="margin-top: 50px; font-size: 4em">Welcome To Polly</h1>
    <h2 class="text-center text-muted" style="font-size: 2em">Easiest Poll Creator Yet!</h2>
    <div class="container text-center" style="margin-top: 20px">
        <a role="button" href="/create" class="btn btn-primary">Create A Poll</a>
        <a role="button" href="/view" class="btn btn-success">View Existing Polls</a>
    </div>
</div>
{% endblock %}